a{
    color: yellowgreen;
    text-decoration: none;
    padding: 10px;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
nav ul{
    
}
button{
    background-color: yellow;
    color: green;
    border-radius: 0%;
}


.button:hover{
    
    transition-duration: 7000ms ease;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}

/* button:hover{
    background-color: white;
    color: rgb(0, 92, 0);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

} */





ul{
    display: flex;

    justify-content: flex-end;
   
}

#titulo{
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    /* margin-left: 10px; */
    font-size: 30px;
    background-color: yellow;
    color: blue;
    font-weight: 900;
    padding: 10px;
    border-top-left-radius: 90%;
    border-start-end-radius: 90% ;
    border-bottom-left-radius: 20% ;
    border-bottom-right-radius: 20% ;
    border-color: greenyellow;
    border: 10px solid;
    font-family: monospace;
    /* width: 30%;
    height: 100%; */
    margin-left: 5px;
}
.menu{
     display: flex;
    margin-right: 40px;
    
    justify-content:space-between ;
    padding:4px ;
}

header{
    width: 100%;
}

