a{

  color: yellowgreen;
  text-decoration: none;
  padding: 10px;
  
  
}
/* nav ul{
  
} */
button{
  background-color: #FFDE59;
  color: green;
  border: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 800;

}


a:hover{

  
  transition-duration: 300ms;
  /* background-color: aliceblue; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  transform-origin: left;
  border-top: 2px solid black;
  cursor: pointer;
}
button:hover{
  cursor: pointer;
}
/* a:hover::before{
  transition-duration: 300ms ease;
  border-bottom: #FFF;
}
a:hover::after{
  transition-duration: 300ms ease;
  border-bottom: #FFF;
} */

.menu{
   display: flex;
  margin-right: 40px;
  background-color: #FFDE59;
  justify-content: space-between;
  padding:4px ;
  width: 100vw;
}

header{
  width: 100vw;
  background-color: #FFDE59;
  display: flex;
  /* justify-content:space-between; */
}
nav{
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
}



.img-logo{
  width:  250px;
  height: 80px;
  margin-left: 30%;
}

ul, li{
  display: flex;
  flex-direction: row;
  align-items: center ;
  gap: 40px;
} 



