 main {
    display: flex;
    justify-content: center;


    padding: 3rem 0;
}
#ee {

    display: flex;
    justify-content: center;
    align-items:center; 

    
}
#ee > h1{
    width: max-content;
    color: black;
}

/* #titulo{
    background-color: ;
} */

#card-post1, #card-post2, #card-post3  {
    background-color: #2F3644;
    padding: 30px 70px;
    border-radius: 15px;
}

#card-post1, #card-post2, #card-post3, .titlePost{
    font-family: Heebo;
    font-weight: 400;
    text-align: center;

    color: #D2DAF5;

    font-size: 3rem;
    margin-bottom: 5px;
}

.line-post {
    height: 2px;
    background-color: #3E445B;
}

.card-body-post {
    margin-top: 25px;

}

.fields {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 7px;
    font-size: 1.2rem;

    color: #D2DAF5;

    font-family: Poppins;
}

input, textarea {
    width: 100%;
    border-radius: 10px;
    border: 0;
    outline: 0;

    font-size: 1.2rem;

    padding-left: 15px;
}

input {
    height: 45px;
    width: max-content;
}

textarea {
    height: 190px;
    resize: none;

    padding-top: 10px;
} 

.btn-post{
    margin-top: 30px;
    text-align: center;

}

.btn-post button{
    font-family: Heebo;
    font-weight: 800;
    font-size: 1.3rem;

    padding: 5px 50px;
    color: #fff;
    background-color: #3DECB1;

    border: 0;
    border-radius: 10px;

    cursor: pointer;

}

.error-message {
    color: rgb(240, 47, 47);
}


.slider{
    margin: 0 auto;
    width: 800px;
    height: 100%;
    overflow:hidden ;
}

.slides{
    width: 400%;
    height: 100%;
    display: flex;

}

.inputChato{
    display: none;

}
.slide{
    width: 25%;
    position: relative;
    transition: 1.5s;
}
.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    margin-top: 40px;
    width: 20%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.manual-btn:hover{
    background-color: #FFF;

}
#card-post1:checked ~ .first{
    margin-left: 0;
}
#card-post2:checked ~ .first{
    margin-left: -25%;
}
#card-post3:checked ~ .first{
    margin-left: -50%;
}
/* .navigation-auto div{
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
} */

.navigation-auto{
    position:absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#card-post1:checked ~ .navigation-auto .auto-btn1{
    background-color: #FFF;
}
#card-post2:checked ~ .navigation-auto .auto-btn2{
    background-color: #FFF;
}
#card-post3:checked ~ .navigation-auto .auto-btn3{
    background-color: #FFF;
}