h1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* width: 180px; */
    
}
.btnn{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}


.calc-btns{

    display: grid;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows:60px 60px;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    justify-content: center;
    gap: 5px;
}
.btnn:hover{
    background-color: orange;
    transition-duration: 300ms;

}

.calculadora{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 50vh;
    height: 100vh;
    padding: 30px;
    margin-top: 20px;
    border: 10px solid;
    border-top-color: rgb(114, 183, 11);
    border-bottom-color: #1303a4;
    border-left-color: #f1eb4d;
    border-right-color: #c00b0b;
    padding-top: 10px;
}

.screen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 30px;
    padding: 10px;
    background-color: darkorange;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    
}

.all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pp{
    color: white;
    background-color: orangered;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    margin-top: 10px;
}

#title{

    text-shadow: 0.1em 0.1em #333;
    display: flex;
    flex-direction: column;
    vertical-align: super;
    height: 15vh;
}

