.title-prod{
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .title-prod h1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
} */
 
.card{
    /* margin: 0 0 0 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
    gap: 100px;
    width: 70%;
    height: 70%; 

}
.title-card .card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#post-title{
    color: black;
    background-color: #FFDE59;
    width: 320px;
}

.title-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #2F3644;
    /* gap: 10px; */
    width: 32rem;
    height: max-content;
    /* padding: 15px; */
}
.img-card{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: max-content;
}

.cards{
    display: grid;
    grid-template-rows: 1000px 1000px 1000px 1000px ;
    grid-template-columns: 50% 50% ;
    gap: 1px;
    justify-content: space-between;
}

/* .main-card{
    display: grid;
    gap: 100px;
} */

.pzao{

    color: yellow;
    width: fit-content;
    font-weight: 800;
    
}

.textos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 32rem;
    height: max-content;
    /* padding: 15px; */
}