.sobre{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    background-color: #add6bc;
    width: 40%;
    height: auto;
    margin-left: 30%;
    border-radius: 20px;
    border: 2px black solid;
  
}
.titulo{
    color: green;
    margin-top: 10px;
    margin-bottom: 20px;
}

.sobreTexto{
    margin: 5%;
    color: green;
}